:root {
    --main: #65bb0f;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: system-ui;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #f6f6f6;
    box-shadow: 0 0 10px #ddd inset;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main);
    border-radius: 10px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 400px;
    border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    background: #fffffffa;
    z-index: 999;
    text-decoration: none;
}

.logo {
    font-size: 50px;
    font-weight: 600;
    color: var(--main);
    text-decoration: none;
}

.logo span {
    color: black;
    font-weight: 700;
}

ul li a {
    font-size: 23px;
    color: black;
    margin-left: 3px;
    padding: 7px 13px;
    text-decoration: none;
}

ul li a:hover {
    color: var(--main);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.icon-u {
    font-size: 50px;

}

.main {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px 200px;

}

.main .container {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-right: 900px;
}

.main .container h5 {
    color: rgb(219, 201, 176);
}

.main .container .h11 {
    color: #000;
    font-size: 60px;
}

.main .container .h11 span {
    color: var(--main);
}

.main .container .h12 {
    color: #000;
    font-size: 70px;
}

.main .container .h12 span {
    color: var(--main);
}

.main .container .h13 {
    font-size: 30px;
    color: #fff;
}

.main .container .h13 span {
    font-family: system-ui;
    font-size: 15px;
    font-weight: 500;
}

.main .container button {
    position: relative;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 0px;
    font-weight: bold;
    border: 2px solid #3eff37;
    background: transparent;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
}

.about {
    background: #000;
    width: 100%;
    height: 52vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
}

.img1,
.img2,
.img3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 img,
.img2 img,
.img3 img {
    width: 450px;
    height: 450x;
    border-radius: 30px;
    filter: brightness(60%);
    transition: 0.5s;
}

.img1 img:hover,
.img2 img:hover,
.img3 img:hover {
    width: 450px;
    height: 450x;
    border-radius: 30px;
    filter: brightness(50%);
}

.img1 span,
.img2 span,
.img3 span {
    color: #fff;
    font-size: 25px;
    position: absolute;
    font-weight: 500;

}

.menu {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.title {
    color: #fff;
    margin: 15px;
    font-size: 30px;
    font-family: cursive;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
}

.content .mb {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 50px 70px;
}

.content .mb img {
    width: 600px;
    height: 600px;
    border-radius: 20px;
    transition: 0.5s;
}

.content .mb img:hover {
    filter: brightness(60%);
}

.content .mb h3 {
    font-size: 18px;
    color: white;
    margin: 10px;
    font-weight: 500;
    letter-spacing: 1px;
}

.content .mb button {
    position: relative;
    width: 100px;
    padding: 8px 0;
    text-align: center;
    margin: 10px 0px;
    font-weight: bold;
    border: 2px solid #3eff37;
    background: transparent;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
}

.footer-section {
    background: #151414;
    position: relative;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.single-cta i {
    color: var(--main);
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-logo a {
    color: var(--main);
    text-decoration: none;
    font-size: 51px;
    font-weight: 700;
}
.footer-logo a span {
    color: #000;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.facebook-bg {
    background: #3B5998;
}

.twitter-bg {
    background: #55ACEE;
}

.google-bg {
    background: #DD4B39;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: var(--main);
}
.footer-widget ul  {
    flex-direction: column;
    
}

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: var(--main);
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
    text-decoration: none;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: var(--main);
    padding: 13px 20px;
    border: 1px solid var(--main);
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    background: #202020;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: var(--main);
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: var(--main);
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}